---
import type { Frontmatter } from '../config'
import { SiteMetadata } from '../config'
import Base from '../layouts/base.astro'
import PageHero from '../components/pagehero.astro'

const frontmatter: Frontmatter = {
  title: '404: Not found',
  description: "You just hit a route that doesn't exist... the sadness.",
  coverSVG: "../svg/headers/page-header.svg",
  socialImage: "../images/social.png",
  publishDate: SiteMetadata.buildTime,
}
---

<Base frontmatter={frontmatter}>
  <main class="short-content">
    <article class="post">
  <header>
    <PageHero
      title={frontmatter.title}
      description={frontmatter.description}
      coverSVG={frontmatter.coverSVG}
      socialImage={frontmatter.socialImage}
    />
  </header>
  </article>
  </main>
</Base>
