---
import type { Frontmatter } from '~rndao/config'
import { SiteMetadata } from '~rndao/config'
import Base from '~rndao/layouts/base.astro'
import PageHero from '~rndao/components/pagehero.astro'
import { Client } from '@notionhq/client'
import { Image } from '@astrojs/image/components'
import { Icon } from 'astro-icon'
import type {
  PageObjectResponse,
  PartialPageObjectResponse,
  BlockObjectResponse,
} from '~rndao/types'

const notion = new Client({ auth: import.meta.env.VITE_NOTION_TOKEN })
const databaseId = '4661a84f117642a6921b614881a41d24'

/**
 * @description Get all pages from the Team Directory database
 * @returns {Promise<PageObjectResponse[] | PartialPageObjectResponse[]>} Array of pages/team members
 */
const fetchTeamDatabase = async (): Promise<
  PageObjectResponse[] | PartialPageObjectResponse[] | undefined
> => {
  try {
    const response = await notion.databases.query({
      database_id: databaseId,
      filter: {
        property: 'Tagline',
        rich_text: {
          is_not_empty: true,
        },
      },
      sorts: [
        {
          property: 'Name',
          direction: 'ascending',
        },
      ],
    })

    return response.results
  } catch (error) {
    console.log('Failed to fetch team database', { error })
  }
}

/**
 * @description Get a team member page from the Team Directory database
 * @param {string} pageId - Notion page ID for a team member
 * @returns {Promise<PageObjectResponse | PartialPageObjectResponse | undefined>} Team member page
 */
const fetchMemberPage = async (
  pageId: string = ''
): Promise<PageObjectResponse | PartialPageObjectResponse | undefined> => {
  try {
    const response = await notion.pages.retrieve({
      page_id: pageId,
    })

    return response
  } catch (error) {
    console.log('Failed to fetch team page', { error })
  }
}

const getTeamMemberBlocks = async (pageId = ''): Promise<any | undefined> => {
  try {
    const response = await notion.blocks.children.list({
      block_id: pageId,
    })

    return response.results
  } catch (error) {
    console.log('Failed to fetch team member blocks', { error })
  }
}

/**
 * @description Get a team member's profile image from the Team Directory database
 * @returns {Promise<any>} Team member profile image URL
 */
const getTeamPages = async (): Promise<any | undefined> => {
  try {
    const teamDatabase = await fetchTeamDatabase()

    if (!teamDatabase) {
      return {}
    }

    const teamPages = await Promise.all(
      teamDatabase.map(async member => {
        const page = await fetchMemberPage(member.id)

        return page
      })
    )
    const teamMembersBlocks = await Promise.all(
      teamPages.map(async member => {
        if (!member) return
        const blocks = await getTeamMemberBlocks(member.id)

        return blocks ?? []
      })
    )

    return {
      teamPages,
      teamMembersBlocks,
    }
  } catch (error) {
    console.log('Failed to fetch team pages', { error })
    return {}
  }
}
const { teamPages, teamMembersBlocks } = await getTeamPages()

// const { teamMembers, teamMembersBlocks } = teamMembersData

export interface ITeamMember {
  title: any
  name: any
  icon: any
}

const frontmatter: Frontmatter = {
  title: 'DAO Members',
  description:
    'RnDAO is an innovation DAO, with a mission to empower humane collaboration. We’re funded by DAOs to serve DAOs and enable a humane vision of Web3.',
  publishDate: SiteMetadata.buildTime,
  coverSVG: '../svg/headers/page-header.svg',
  socialImage: '../images/social.png',
}
---

<Base frontmatter={frontmatter}>
  <main class="short-content">
    <article class="post">
      <header>
        <PageHero
          title={frontmatter.title}
          coverSVG={frontmatter.coverSVG}
          socialImage={frontmatter.socialImage}
        />
      </header>
      <section
        class="px-4 pb-10 lg:pb-16 lg:px-0 lg:mt-10 max-w-screen-lg mx-auto overflow-x-hidden"
      >
        <div class="my-8">
          <!-- <h2 class="mb-10">Research Team</h2> -->
          <ul
            class="members grid grid-cols-1 xs:grid-cols-2 xl:grid-cols-3 gap-5"
          >
            {
              () => {
                if (teamPages == undefined) {
                  return (
                    <div class="m-8">
                      <span>Failed to fetch users from notion database</span>
                    </div>
                  )
                }
              }
            }
            {
              teamPages &&
                teamPages.map((member: any, i: number) => {
                  // console.log(
                  //   '\x1b[33m' + JSON.stringify(member, null, 4) + '\x1b[0m'
                  // )

                  if (member) {
                    const { Name, LinkedIn, Website, Tagline, Twitter } =
                      member.properties
                    const image = teamMembersBlocks.map((memberBlocks: any) => {
                      if (memberBlocks) {
                        const imageBlock = memberBlocks.find(
                          (block: BlockObjectResponse) => {
                            if (block.type === 'image') {
                              return block
                            }
                          }
                        )
                        if (imageBlock) {
                          return imageBlock.image.file.url
                        }
                      }
                    })

                    return (
                      <li class="team-member group relative m-0 w-full overflow-hidden rounded-md border-2 border-zinc-400 p-0 pb-[calc(100%_-_4px)] transition-all duration-200">
                        <div class="team-member__body absolute inset-0 z-20 h-full w-full translate-y-[77%] transition-all duration-300 group-hover:translate-y-0 xs:translate-y-[70%] lg:translate-y-[77%]">
                          <div class="flex h-full w-full flex-col rounded-md p-5 transition-all xl:p-6">
                            <div class="grow">
                              <h3 class="p-0 text-zinc-800 dark:text-zinc-50">
                                {member.icon !== null && member.icon.emoji}{' '}
                                {Name.title[0].plain_text}
                              </h3>
                              <p class="translate-y-32 leading-tight text-zinc-700 opacity-0 transition-all delay-100 duration-300 text-xs group-hover:translate-y-0 group-hover:opacity-100 dark:text-zinc-100 xl:text-sm">
                                {Tagline.rich_text[0].plain_text}
                              </p>
                            </div>
                            <div class="mt-5 inline-flex shrink translate-y-32 items-center justify-start gap-3 text-zinc-200 opacity-0 transition-all delay-200 duration-300 group-hover:translate-y-0 group-hover:opacity-100">
                              {member.url && (
                                <a
                                  href={member.url}
                                  target="_blank"
                                  rel="noopener nofollow"
                                  title={`${Name.title[0].plain_text}'s profile`}
                                >
                                  <Icon
                                    pack="radix-icons"
                                    name="notion-logo"
                                    class="flex h-8 w-8 items-center justify-center rounded-md bg-zinc-600 p-0 text-white shadow-md transition-all duration-300 ease-in-out hover:text-accent1 dark:bg-zinc-800 dark:text-white dark:hover:text-accent2 lg:h-10 lg:w-10"
                                  />
                                </a>
                              )}
                              {LinkedIn.url && (
                                <a
                                  href={LinkedIn.url}
                                  target="_blank"
                                  rel="noopener nofollow"
                                  title={`${Name.title[0].plain_text} on LinkedIn`}
                                >
                                  <Icon
                                    pack="mdi"
                                    name="linkedin"
                                    class="flex h-8 w-8 items-center justify-center rounded-md bg-zinc-600 p-0 text-white shadow-md transition-all duration-300 ease-in-out hover:text-accent1 dark:bg-zinc-800 dark:text-white dark:hover:text-accent2 lg:h-10 lg:w-10"
                                  />
                                </a>
                              )}
                              {Twitter.url && (
                                <a
                                  href={`https://twitter.com/${Twitter.url}`}
                                  target="_blank"
                                  rel="noopener nofollow"
                                  title={`${Name.title[0].plain_text} on Twitter`}
                                >
                                  <Icon
                                    pack="mdi"
                                    name="twitter"
                                    class="flex h-8 w-8 items-center justify-center rounded-md bg-zinc-600 p-0 text-white shadow-md transition-all duration-300 ease-in-out hover:text-accent1 dark:bg-zinc-800 dark:text-white dark:hover:text-accent2 lg:h-10 lg:w-10"
                                  />
                                </a>
                              )}
                              {Website.url && (
                                <a
                                  href={Website.url}
                                  target="_blank"
                                  rel="noopener nofollow"
                                  title={`${Name.title[0].plain_text}'s website`}
                                >
                                  <Icon
                                    pack="mdi"
                                    name="web"
                                    class="flex h-8 w-8 items-center justify-center rounded-md bg-zinc-600 p-0 text-white shadow-md transition-all duration-300 ease-in-out hover:text-accent1 dark:bg-zinc-800 dark:text-white dark:hover:text-accent2 lg:h-10 lg:w-10"
                                  />
                                </a>
                              )}
                            </div>
                          </div>
                        </div>
                        <div class="team-member__underlay absolute inset-0 z-0 bg-zinc-100 contrast-more:bg-zinc-50 dark:bg-zinc-700 ">
                          {image[i] && (
                            <div class="h-full w-full rounded-md">
                              <Image
                                src={image[i]}
                                alt={`${Name.title[0].plain_text}'s avatar`}
                                width={500}
                                height={500}
                                position="center"
                                fit="cover"
                                format="jpg"
                                quality={80}
                                loading={'lazy'}
                                class="z-20 grayscale transition-all duration-200 group-hover:opacity-10"
                              />
                            </div>
                          )}
                        </div>
                      </li>
                    )
                  }
                })
            }
          </ul>
        </div>
      </section>
    </article>
  </main>
</Base>
