---
import { Icon } from 'astro-icon'
import { SiteMetadata, Logo } from '../config'
import SVGImg from '../components/svgimg.astro'
---

<div class="hidden lg:block h-24 lg:h-16"></div>
<footer class="group relative  bottom-0 inset-x-0 w-full text-gray-600 dark:text-gray-400 h-20 z-50">
  <div
    class="z-20 bottom-0 inset-x-0 bg-gray-100 dark:bg-black lg:backdrop-blur-xl px-4 lg:px-8 py-1 lg:py-4 w-full flex items-center lg:flex-row flex-col border-t-2 border-zinc-300 dark:border-zinc-600 origin-bottom opacity-100 transition-transform duration-300 ease-in-out"
   >
    <span class="flex-none flex flex-row items-center">
      <a class="flex title-font font-medium items-center lg:justify-start justify-center text-gray-900 dark:text:gray-100" href={import.meta.env.BASE_URL} >
        <SVGImg src={Logo} alt="Footer Logo" class="h-auto w-12 invert dark:invert-0" />
        <span class="sr-only">Logo</span>
      </a>
      <p class="text-sm text-gray-600 dark:text-gray-300 ml-2 pl-2 border-l-2 border-zinc-300 dark:border-zinc-600 py-1" >
        © {new Date().getFullYear()} Copyright
        <a
          href="https://rndao.org"
          class="ml-1 text-black hover:text-accent1 dark:text-zinc-300 dark:hover:text-accent2"
          rel="noopener noreferrer"
          target="_blank"
        >
          RnDAO
        </a>
      </p>
    </span>
    <span class="flex-none flex flex-row items-center">
      <p class="text-sm text-gray-600 dark:text-gray-300 lg:ml-4 lg:pl-4 lg:border-l-2 lg:border-zinc-600 dark:lg:border-zinc-600 lg:py-1"
      >
        <a
          href={import.meta.env.BASE_URL + 'privacy'}
          class="ml-1 text-zinc-600 hover:text-accent1 dark:text-zinc-300 dark:hover:text-accent2"
        >
          Privacy Policy
        </a>
      </p>
      <p
        class="text-sm text-gray-600 ml-4 pl-4 border-l-2 border-zinc-600 py-1"
      >
        <a
          href={import.meta.env.BASE_URL + 'rss.xml'}
          class="ml-1 text-zinc-600 hover:text-accent1 dark:text-zinc-300 dark:hover:text-accent2"
          rel="noopener noreferrer"
          target="_blank"
        >
          RSS
        </a>
      </p>
      <p
        class="text-sm text-gray-600 dark:text-gray-300 ml-4 pl-4 border-l-2 border-zinc-600 py-1"
      >
        <a
          href={import.meta.env.BASE_URL + 'sitemap-index.xml'}
          class="ml-1 text-zinc-600 hover:text-accent1 dark:text-zinc-300 dark:hover:text-accent2"
          rel="noopener noreferrer"
          target="_blank"
        >
          Sitemap
        </a>
      </p>
    </span>
    <span
      class="grow inline-flex lg:ml-auto justify-center lg:justify-end mt-2 lg:mt-0"
    >
      {
        SiteMetadata.social.map(s =>
          s.link ? (
            <a
              href={s.link}
              class="ml-3 text-zinc-600 hover:text-accent1 dark:text-zinc-300 dark:hover:text-accent2"
              rel="noopener noreferrer"
              target="_blank"
            >
              <Icon pack="bi" name={s.icon} class=" h-5 w-5" />
              <span class="sr-only">{s.name}</span>
            </a>
          ) : (
            ''
          )
        )
      }
    </span>
  </div>
</footer>
