---
import type { Frontmatter } from '../config'
import Base from '../layouts/base.astro'
import PageHero from '../components/pagehero.astro'
export interface Props {
  frontmatter: Frontmatter
}

const { frontmatter } = Astro.props
---

<Base frontmatter={frontmatter}>
  <main class="dark:bg-zinc-900 min-h-screen">
    <article class="post min-h-screen">
      <header>
        <PageHero
          title={frontmatter.title}
          description={frontmatter.description}
          coverSVG={frontmatter.coverSVG}
          socialImage={frontmatter.socialImage}
        />
      </header>
      <section
        class="min-h-screen px-4 lg:px-0 my-8 max-w-screen-lg mx-auto prose prose-zinc lg:prose-xl dark:prose-invert"
      >
        <slot />
      </section>
    </article>
  </main>
</Base>
